* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.box {
    border: 1px solid #ccc;
    padding: 20px;
    width: 45%;
    min-height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
 h2{
    text-align: center;
    margin-bottom: 10px;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    background-color: rgb(74, 178, 178);
}

.product button {
    margin: 0 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: x-large;
}

.cart-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    background-color: rgb(74, 178, 178);
}

h3 {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px;
    background-color: rgb(74, 178, 178);
}
